.home_container{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.login{
    text-decoration: underline;
    align-self: flex-end;
    padding: 10px;
    font-size: 60px;
}

.content{
    display: flex;
    align-items: center;
    gap: 20px;
}

.info{
    
}